{% extends 'base.html.twig' %}

{% block body %}

        <a href="{{ path('events_index') }}"><button type="button" class="btn btn-secondary m-4"><i class="fas fa-arrow-left"></i>Back</button></a>
        <h1 class="text-center mb-4">Event edit</h1>
        {# {{ form_start(delete_form) }} #}
        {# <input type="submit" class="btn btn-danger m-4" value="Delete">
        {{ form_end(delete_form) }} #}


    <div class="container w-75">
    <div class="text-center">

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
         <a href="{{ path('events_index') }}"><input type="submit" class="btn btn-info m-4"value="Edit" /></a>
        {{ form_end(edit_form) }}
    </div>
        
    </div>
{% endblock %}
