{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-12 mt-4">
        <div class="card m-3 shadow p-3 mb-5 bg-white rounded border-0">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="{{ event.eventImage }}" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title text-danger">{{ event.eventName }}</h5>
                        <h6 class="card-text">{{ event.eventDescription }}</h6>
                        <div class="row">
                            <p class="card-text col-4">
                                <small class="font-weight-bold d-block"><i class="far fa-clock text-danger"></i></small>
                                <small class="text-muted d-block">{% if event.eventDatetime %}{{ event.eventDatetime|date('d.m.Y H:i:s') }}{% endif %}</small>
                            </p>
                            <p class="card-text col-4">
                                <small class="font-weight-bold d-block"><i class="fas fa-info text-danger"></i></small>
                                <small class="text-muted d-block">{{event.eventUrl}}</small>
                            </p>
                            <p class="card-text col-4">
                                <small class="font-weight-bold d-block"><i class="far fa-envelope text-danger"></i></small>
                                <small class="text-muted d-block">{{event.eventContact}}</small>
                            </p>
                        </div>
                        <div class="row">
                            <p class="card-text col-4">
                                <small class="font-weight-bold d-block"><i class="fas fa-map-marker text-danger"></i></small>
                                <small class="text-muted d-block">{{ event.eventlocationName }}</small>
                                <small class="text-muted d-block">{{ event.eventlocationAddress }}</small>
                                <small class="text-muted d-block">{{ event.eventlocationZipCity }}</small>
                            </p>
                            <p class="card-text col-4">
                                <small class="font-weight-bold d-block"><i class="fas fa-users text-danger"></i></small>
                                <small class="text-muted d-block">{{event.eventCapacity}}</small>
                            </p>
                            <p class="card-text col-4">
                                <small class="font-weight-bold d-block"><i class="fas fa-hashtag text-danger"></i></small>
                                <small class="text-muted d-block">{{event.eventType}}</small>
                            </p>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="{{ path('events_index') }}"><button type="button" class="btn btn-secondary m-4">Back</button></a>
                            <a href="{{ path('events_edit', { 'id': event.id }) }}"><button type="button" class="btn btn-info m-4">Edit</button></a>
                            {{ form_start(delete_form) }}
                            <input type="submit" class="btn btn-danger m-4" value="Delete">
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
   
{% endblock %}
